@page
@using EventAppLib.Model
@model EventApp.Pages.Event.IndexModel
@{
    ViewData["Title"] = "Events";
}

<body>
<h1 style="text-align: center">Events</h1>

<div>
    @foreach (Event e in @Model.Events)
    {
        <div class="events-box">
            <div class="events-header">
                <a>@e.Title</a>
            </div>

            <div class="events-body">
                <a>@e.Description</a>
            </div>

            <div class="events-footer">
                <div>

                    <a class="btn" type="button" asp-page="Enlist" asp-route-id="@e.Id">
                        <button class="events-button">Enlist</button>
                    </a>

                    <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@e.Id">
                        <i class="fa fa-trash"></i>
                    </a>


                    

                    <form method="post">
                        <button class="events-button" type="submit">test1</button>
                        <button class="events-button" asp-page-handler="Test" type="submit">test2</button>
                    </form>


                </div>
                
            </div>

        </div>
    }

</div>

</body>
