@page
@using EventAppLib.Model
@model EventApp.Pages.Event.IndexModel
@{
    ViewData["Title"] = "Events";
}

<body>
<h1 style="text-align: center">Events</h1>

<div>
    @foreach (Event e in @Model.Events)
    {
        <div class="events-box">
            <div class="events-header">
                <a>@e.Title</a>
            </div>

            <div class="events-body">
                <a>@e.Description</a>
            </div>

            <div class="events-footer">
                <a class="events-footer-id">Event ID number: @e.Id</a>
                <div>
                    <a class="btn" type="button" asp-page="DeleteUserStory" asp-route-id="@e.Id">
                        <i class="fa fa-trash"></i>
                    </a>

                    <a class="btn" type="button" asp-page="EventDetailed" asp-route-id="@e.Id">
                        <i class="fa fa-info-circle"></i>
                    </a>


                </div>
                
            </div>

        </div>
    }

</div>

</body>
