@page
@using EventAppLib.Model
@model EventApp.Pages.Admin.AdminEventsModel
@{
    ViewData["Title"] = "AdminEvents";
}

<body>
<h1 style="text-align: center">Admin-Events</h1>

<div class="card">
    <div class="card-body" style="align-self: center">
        <a class="btn" type="button" asp-page="CreateEvent">
            <button class="events-button" style="border-radius: 5px; border-color: black">Create new event</button>
        </a>
    </div>
</div>

<div>
    
    <table class="table-bordered" style="text-align: center; width: -webkit-fill-available; ">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>ID</th>
            <th></th>
        </tr>
        </thead>
        
        <tbody>
        @foreach (Event e in @Model.Events)
        {
            <tr>
                <td>@e.Title</td>
                <td>@e.Description</td>
                <td>@e.Id</td>
                
                <td>
                    <form method="post">
                        

                        <input type="submit" class="fa fa-trash" asp-route-id="@e.Id"/>
                    </form>

                </td>
            </tr>
        }
        </tbody>

    </table>

</div>

</body>